.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 51px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

h2 {
  color: #333;
  margin-top: 20px;
}
